<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ССО</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Добро пожаловать на сайт ССО</h1>
        <a href="/register" class="btn btn-primary">Регистрация</a>
        <a href="/login" class="btn btn-success">Вход</a>
    </div>
</body>
</html>
